{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="border-0 fw-bold text-end">Symbol</th>
            <th class="border-0 fw-bold text-end">Shares</th>
            <th class="border-0 fw-bold text-end">Price</th>
            <th class="border-0 fw-bold text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td class="border-0 text-end">{{ transaction.symbol }}</td>
            <td class="border-0 text-end">{{ transaction.shares }}</td>
            <td class="border-0 text-end">{{ transaction.price | usd }}</td>
            <td class="border-0 text-end">{{ transaction.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
