{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="border-0 fw-bold text-end">Symbol</th>
            <th class="border-0 fw-bold text-end">Name</th>
            <th class="border-0 fw-bold text-end">Shares</th>
            <th class="border-0 fw-bold text-end">Price</th>
            <th class="border-0 fw-bold text-end">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td class="border-0 text-end">{{ stock.symbol }}</td>
            <td class="border-0 text-end">{{ stock.name }}</td>
            <td class="border-0 text-end">{{ stock.total_shares }}</td>
            <td class="border-0 text-end">{{ stock.price | usd }}</td>
            <td class="border-0 text-end">{{ stock.value | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">CASH</td>
            <td class="border-0 fw-bold text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 fw-bold text-end">{{ total_value | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
